# Initia Network Configuration
VALIDATOR_ADDRESS=initvaloper1qvmhe73us6z3h72j06d0sqsxqxt5pa6ak2aczx
ADDRESS_PREFIX=init
DENOM=uinit
DECIMALS=6
REQUIRED_AMOUNT=5

# Network Configuration
RPC_ENDPOINT=https://lcd-initia.keplr.app

# Server Configuration
PORT=3000
NODE_ENV=development

# AWS Configuration (for deployment)
AWS_REGION=ap-northeast-2
AWS_STAGE=dev 